.caja {
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	text-align: center;
	font-size: 80px;
	line-height: 200px;

.caja-inline {
	display: inline-block;
}

.container {
	margin: 8px;
	width: 600px;
	background-color: #ff1a1a;
	padding: 10px;
}