h1 {
	text-align: center;
}

hr {
	border: 2px solid black;
	margin: 0px;
	margin-bottom: 20px;
}

.contenedor {
	width: 1300px;
	height: 700px;
	margin: 5px;
	border: 2px solid black;
	position: relative;
	left: 15px;
	top: 15px;
	right: 15px;
	bottom: 5px;
	background-color: white;

}
img.pequeña {
	width: 80px;
	height: 80px;



.fotos {
	display: table;
	position: relative;
	width: 50%;
}
}